{% extends 'home/base.html' %}

{% block full %}
	<script>
	var user_id = "{{ request.session.player1|safe }}";
	var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
	var ws_home_sock = new ReconnectingWebSocket(ws_scheme + '://' + window.location.host + "/user/" + user_id);

    ws_home_sock.onmessage = function(message) {
        var data = JSON.parse(message.data);
        console.log("Received an update");
    };

    ws_home_sock.onopen = function() {
    	console.log("Opened a websocket to the server");
    }

	</script>
	<div class="col s4">
		{% if request.session.player1 %}
			<div class="card brown darken-2">
				<div class="card-content">
					<span> 
						<i class="material-icons">person</i>
						{{ request.session.player1.username }}
					</span>

					<span class="right">
						<form action="/" method="POST">
							{% csrf_token %}
							<input name="logout_user_1" hidden="true">
							<button class="btn" id="logout-button" type="submit">
								<i class="material-icons">clear</i>
							</button>
						</form>
					</span>
				</div>
			</div>

			{% if challenges_player1 %}
				<div class="card brown darken-2">
					<div class="card-content">
						{% for challenge in challenges_player1 %}
							<span>
								<i class="material-icons">person</i>
								{{challenge.player1.username}} har utfordret deg
							</span>

							<span class="right">
								<form action="/" method="POST">
									{% csrf_token %}
									<input name="answer_challenge" hidden="true">
									<button name= "deny" class="btn red" id="deny" type="submit" value="{{challenge.pk}}">
										<i class="material-icons">clear</i>
									</button>
									<button name="accept" class="btn" id="accept" type="submit" value="{{challenge.pk}}">
										<i class="material-icons">add</i>
									</button>
								</form>
							</span>
							
						{% endfor %}
					</div>
				</div>
			{% else %}
			<p></p>
			{% endif %}


		{% else %}
			<div class="card">
				<div class="card-content">
					<span class="card-title center"> Logg inn eller opprett bruker </span>
					<div id="LoginPlayer1Form">
						<form action="/" method="POST">
							{% csrf_token %}
							<input name="login_user_1" hidden="true">
							<label for="username"> username </label>
							<input id="username" name="username" type="text">
							<label for="password"> password </label>
							<input id="password" name="password" type="password">
							<button class="btn" id="login-button" type="submit"> Send </button>
						</form>
					</div>
				</div>
			</div>
		{% endif %}
	</div>

	<div class="col s4">
		{% if request.session.player1 %}
			{% if request.session.player2 %}
				<div class="card brown darken-2">
					<div class="card-content">
						<span class="center">
							<form action="/" method="POST">
								{% csrf_token %}
								<input name="start_game" class="btn" type="submit" value="Start Nytt Spill">
							</form>
						</span>
					</div>
				</div>
			{% else %}
				{% if matches_player1 %}
				<div class="card brown darken-2">
					<div class="card-content">
						<span class="card-title"> Aktive kamper </span><br>
						{% for wp, bp, p1turn, game_id in matches_player1 %}
							<ul>
								<div>
									<span style="color:white;font-size:22px;"> <i class="material-icons">person</i>{{wp}}</span>
									<span> vs </span>
									<span style="color:black;font-size:22px;"> <i class="material-icons">person</i>{{bp}} </span>
									<span class="right">
										<form action="/" method="POST">
											{% csrf_token %}
											<input name="continue_game" hidden="true" value="{{game_id}}">
											{% if p1turn %}
												<button class="btn green" type="submit">
												<span> Din tur </span></button>
											{% else %}
												<button class="btn red" type="submit">
												<span>Venter</span></button>
											{% endif %}
											
										</form>
									</span>
								<div class="divider"></div>
								</div>
							<br>

							</ul>
						{% endfor %}
					</div>
				</div>
				{% else %}
				<p></p>
				{% endif %}

			{% endif %}
		{% else %}
			<p></p>
		{% endif %}
	</div>

	<div class="col s4">
		{% if request.session.player2 %}
				<div class="card brown darken-2">
					<div class="card-content">
						<span> 
							<i class="material-icons">person</i>
							{{ request.session.player2.username }}
						</span>
						<span class="right">
							<form action="/" method="POST">
								{% csrf_token %}
								<input name="logout_user_2" hidden="true">
								<button class="btn" id="logout-button" type="submit">
									<i class="material-icons">clear</i>
								</button>
							</form>
						</span>
					</div>
				</div>
		{% else %}
			{% if request.session.player1 %}
			<div class="card-panel brown darken-2">
					<div>
						<form action="/" method="POST">
							{% csrf_token %}
							<div class="select-opponent">
								{{ opponent_picker_form }}
							</div>
							<span class="right" style="padding-top:22px;">
								<input class="btn" id="input-box" type="submit" value="Velg">
							</span>
						</form>
					</div>
			</div>
			{% endif %}
			<div class="card">
				<div class="card-content">
					<span class="card-title center"> Logg inn eller opprett bruker </span>
					<div id="LoginPlayer1Form">
						<form action="/" method="POST">
							{% csrf_token %}
							<input name="login_user_2" hidden="true">
							<label for="username"> username </label>
							<input id="username" name="username" type="text">
							<label for="password"> password </label>
							<input id="password" name="password" type="password">
							<button class="btn" id="login-button" type="submit"> Send </button>
						</form>
					</div>
				</div>
			</div>
		{% endif %}
	</div>
{% endblock %}