{% extends 'home/base.html' %}
{% load staticfiles %}

{% block full %}
<div class="col s3">
	{% if request.session.player1 %}
		{% if player1pk|stringformat:"s" == player_white|stringformat:"s" %}
			<div class="white-player">
				<div class="card white">
					<div class="card-content">
						<i class="material-icons">person</i>
						<span>{{request.session.player1.username}}</span>
					</div>
				</div>
			</div>
		{% else %}
			<div class="black-player">
				<div class="card black">
					<div class="card-content">
						<i class="material-icons">person</i>
						<span>{{request.session.player1.username}}</span>
					</div>
				</div>
			</div>
		{% endif %}
		{% if matches_player1 %}
				<div class="card brown darken-2">
					<div class="card-content">
						<span class="card-title"> Aktive kamper </span><br>
						{% for wp, bp, p1turn, game_id in matches_player1 %}
							<ul>
								<div>
									<span style="color:white;font-size:22px;"> <i class="material-icons">person</i>{{wp}}</span>
									<span> vs </span>
									<span style="color:black;font-size:22px;"> <i class="material-icons">person</i>{{bp}} </span>
									<span class="right">
										<form action="/" method="POST">
											{% csrf_token %}
											<input name="continue_game" hidden="true" value="{{game_id}}">
											{% if p1turn %}
												<button class="btn green" type="submit">
												<span> Din tur </span></button>
											{% else %}
												<button class="btn red" type="submit">
												<span>Venter</span></button>
											{% endif %}
											
										</form>
									</span>
								<div class="divider"></div>
								</div>
							<br>

							</ul>
						{% endfor %}
					</div>
				</div>
			{% endif %}
	{% else %}
		<p></p>
	{% endif %}

</div>

<div class="col s6">
	<div id="board">
		<br>
		<div class="card brown darken-2" style="width:400px;margin:auto;">
			<div class="card-content">
				<div id="status"> </div>
			</div>
		</div>
		<br>
		<div class="replace" id="replace_pawn_white">
			<a class="rpiece" href="/game/?replace=D"><img src="/static/imgs/Dronningw.png"></a>
			<a class="rpiece" href="/game/?replace=T"><img src="/static/imgs/Trnw.png"></a>
			<a class="rpiece" href="/game/?replace=H"><img src="/static/imgs/Hestw.png"></a>
			<a class="rpiece" href="/game/?replace=L"><img src="/static/imgs/Lperw.png"></a>
			<br>
		</div>
		<div class="replace" id="replace_pawn_black">
			<a class="rpiece" href="/game/?replace=D"><img src="/static/imgs/Dronningb.png"></a>
			<a class="rpiece" href="/game/?replace=T"><img src="/static/imgs/Trnb.png"></a>
			<a class="rpiece" href="/game/?replace=H"><img src="/static/imgs/Hestb.png"></a>
			<a class="rpiece" href="/game/?replace=L"><img src="/static/imgs/Lperb.png"></a>
			<br>
		</div>

		{{board|safe}}
		<br>
	</div>
	

	<script type="text/javascript">
		var ab = {{bricks|safe}};
		var white = ab.hb;
		var black = ab.sb;
		var game_over = {{game_over|safe}};
		var game_id = "{{game_id|safe}}";

		var turn = "{{turn|safe}}";
		var player1 = {{player1|safe}};
		var player_white = "{{player_white|safe}}";
		var player_black = "{{player_black|safe}}";
	

		check_status(game_over, turn);

		var from_square = null;
		positionPieces(white, "w");
		positionPieces(black, "b");
		initHandlers();


		function check_status(game_over, turn) {
			var status = document.getElementById("status");
			if (game_over == 0) {
				status.innerHTML = "<p>" + turn + " spiller sin tur </p>";
			} else if (game_over == 1) {
				status.innerHTML = "<p>" + turn + " spiller vant!! </p>"; 
			} else {
				status.innerHTML = "<p> Sjakk patt! Uavgjort </p>";
			}
		};

		function replace_piece(turn, pawn_over) {
			if (turn == "hvit") {
				if (ab.pawn_over == true) {
					$("#replace_pawn_white").css("display", "inline-block");
				} else {
					$("#replace_pawn_white").css("display", "none");
				}
			} else {
				if (ab.pawn_over == true) {
					$("#replace_pawn_black").css("display", "inline-block");
				} else {
					$("#replace_pawn_black").css("display", "none");
				}
		}
		}

		function changeBoard(data) {
			check_status(data.game_over, data.turn);
			clear();
			positionPieces(data.hb, "w");
			positionPieces(data.sb, "b");
			initHandlers();
			replace_piece(ab.turn, ab.pawn_over);
		}

		function move(from_p, to) {
			var xhttp = new XMLHttpRequest(); 
			xhttp.onreadystatechange = function() {
				if (xhttp.readyState == 4 & xhttp.status == 200) {
					ab = JSON.parse(xhttp.responseText);
					changeBoard(ab);
				}
			};

			xhttp.open("GET", "?move="+from_p+to, true);
			xhttp.send();
		}

		function clear() {
			var ruter = document.getElementsByClassName("grid");
			for (var i=0; i < ruter.length; i++) {
				ruter[i].innerHTML = "";
			}
		}

		function positionPieces(pieces, color) {
			for (var piece in pieces) {
				var rute = document.getElementById(piece);
				rute.innerHTML = "<div class='piece'><img src=/static/imgs/"+pieces[piece]+color+".png></div>";
			}
		}

		function initHandlers() {
			$(".grid").click(function(ev) {
				if (ev.target.parentNode.classList[0] == "piece") {
					return null;
				}
				if (from_square != null) {
					to_square = ev.target.id;
					move(from_square, to_square);
					from_square = null;
					to_square = null;
				}
			});

			$(".piece").click(function(ev) {
				var square = ev.target.parentNode.parentNode;
				if (from_square == null) {
					from_square = square.id;
				} else {
					to_square = square.id;
					move(from_square, to_square);
					from_square = null;
					to_square = null;
				}
			});
		}
	</script>
</div>

<div class="col s3">
	{% if request.session.player2 %}
		{% if player2pk|stringformat:"s" == player_black|stringformat:"s" %}
			<div class="black-player">
				<div class="card">
					<div class="card-content black">
						<i class="material-icons">person</i>
						<span> {{request.session.player2.username}} </span>
					</div>
				</div>
			</div>
		{% else %}
			<div class="white-player">
				<div class="card">
					<div class="card-content white">
						<i class="material-icons">person</i>
						<span> {{request.session.player2.username}} </span>
					</div>
				</div>
			</div>
		{% endif %}
	{% else %}
		{% if player2pk|stringformat:"s" == player_black|stringformat:"s" %}
			<div class="black-player">
				<div class="card">
					<div class="card-content black">
						<i class="material-icons">person</i>
						<span> {{player2name}} </span>
					</div>
				</div>
			</div>
		{% else %}
			<div class="white-player">
				<div class="card">
					<div class="card-content white">
						<i class="material-icons">person</i>
						<span> {{player2name}} </span>
					</div>
				</div>
			</div>
		{% endif %}
	{% endif %}
</div>

<script type="text/javascript" src='{% static "js/reconnecting-websocket.min.js" %}'></script>
<script type="text/javascript" src='{% static "js/push.js" %}'></script>


{% endblock %}